@use './variables' as *;
@use './mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

menu,
ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.bg-white {
    scrollbar-color: $primary $white;
}

.bg-dark {
    scrollbar-color: $gray-600 $dark;
}


.app-admin {
    .page-center {
        min-height: 0;

        .link-text {
            width: 8em;
            white-space: nowrap;
        }

        .text-fade {
            background: linear-gradient(to right, #00000000 0%, $dark 100%);
        }
    }

    main {
        border-radius: $border-radius-sm 0 0 0;
    }
}