*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Stili generali per il body
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

// Altri stili generali
h1 {
    font-size: $h1-size;
    font-weight: bold;
    color: $primary;
}

.card {
    @include border-radius(); // Usa mixin per arrotondare gli angoli
}
